{% extends "layout.html" %}

{% block body %}

    <div class="mb-3">
        <h1>Select a Playlist</h1>
        <p>These are the playlists found for you account. Please select one to analyze.</p>
        
        <form action="/getTracks" method="POST">
            <select name="playlist" id="playlist">
                <option disabled selected>Select Playlist</option>
                {% for key, value in playlists.items() %}
                <option value="{{ value }}">{{ key }}</option>
                {% endfor %}
            </select>
            <br>
            <input type="submit" value="Analyze!">
        </form>
    </div>

{% endblock %}