{% extends "layout.html" %}

{% block body %}
      
    <h1>Select a Playlist</h1>
    <p>These are the playlists found for you account. Please select one to analyze</p>

    <form action="/getTracks" method="POST">
        <select name="playlist" id="playlist">
            {% for playlist in playlists %}
            <option value="{{ playlist }}">{{ playlist }}</option>
            {% endfor %}
        </select>
        <br>
        <input type="submit" value="Analyze!">
    </form>


{% endblock %}