{% extends "layout.html" %}

{% block body %}
<div>
    <img src="{{ pfp }}">
    <h1>Welcome to the Spotify Playlist Analyzer, {{ name }}!</h1>
    <p>Click the "Playlist Analyzer" tab to get a breakdown of one of your playlists</p>
    <p>Click "Your Top Tracks" tab to see your top songs from the past month, 6 months, and all time/</p>
    <p>Click "Discover Weekly Archiver" tab to see your current discover weekly playlist, and save it to your spotify account under a new playlist</p>
</div>
{% endblock %}